In [1]:
# Dependencies
import pandas as pd

from bs4 import BeautifulSoup
import requests
import pymongo

from sqlalchemy import create_engine
from config import username
from config import password

# Datasource 1

In [2]:
# CSV for 1)	Data source 1 – Alphabetical List of Western Australian Schools (XLSX)

# Store CSV into df
csv_file = "Resources/WASchoolsList_cleaned.csv"
WASchools_df = pd.read_csv(csv_file)
WASchools_df.head()

,Code,School Name,Street,Suburb,State,Postcode,Postal Street,Postal Suburb,Postal State,Postal Postcode,...,Y06,UPR,Y07,Y08,Y09,Y10,Y11,Y12,USE,Total Students
0,5001,ADAM ROAD PRIMARY SCHOOL,HOTCHIN STREET,SOUTH BUNBURY,WA,6230,HOTCHIN STREET,SOUTH BUNBURY,WA,6230,...,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,446
1,1463,AL-AMEEN COLLEGE,57 SOUTHGATE ROAD,LANGFORD,WA,6147,57 SOUTHGATE ROAD,LANGFORD,WA,6147,...,96.0,NaN,83.0,79.0,66.0,67.0,48.0,45.0,NaN,"1,136"
2,1397,AL-HIDAYAH ISLAMIC SCHOOL,CNR HEDLEY ST/NYAMUP WAY,BENTLEY,WA,6102,CNR HEDLEY ST/NYAMUP WAY,BENTLEY,WA,6102,...,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202
3,8001,ALBANY COMMUNITY KINDERGARTEN,136 SERPENTINE ROAD,ALBANY,WA,6330,PO BOX 5670,ALBANY,WA,6332,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29
4,5002,ALBANY PRIMARY SCHOOL,SUFFOLK STREET,ALBANY,WA,6330,SUFFOLK STREET,ALBANY,WA,6330,...,58.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,426

In [3]:
# look at all the columns available
WASchools_df.columns

Index(['Code', 'School Name', 'Street', 'Suburb', 'State', 'Postcode',
       'Postal Street', 'Postal Suburb', 'Postal State', 'Postal Postcode',
       'Latitude', 'Longitude', 'Phone', 'Education Region',
       'Broad Classification', 'Classification Group', 'Low Year', 'High Year',
       'KIN', 'PPR', 'Y01', 'Y02', 'Y03', 'Y04', 'Y05', 'Y06', 'UPR', 'Y07',
       'Y08', 'Y09', 'Y10', 'Y11', 'Y12', 'USE', 'Total Students'],
      dtype='object')

In [4]:
# create new data with only relevant columns
new_WASchools_df = WASchools_df[['Classification Group','School Name','Low Year','High Year','Y12','Total Students','Education Region','Latitude','Longitude']].copy()
new_WASchools_df.head()

,Classification Group,School Name,Low Year,High Year,Y12,Total Students,Education Region,Latitude,Longitude
0,PRIMARY SCHOOLS,ADAM ROAD PRIMARY SCHOOL,KIN,Y06,NaN,446,SOUTH WEST,-33.357951,115.635371
1,NON-GOVERNMENT,AL-AMEEN COLLEGE,KIN,Y12,45.0,"1,136",SOUTH METROPOLITAN,-32.046056,115.937158
2,NON-GOVERNMENT,AL-HIDAYAH ISLAMIC SCHOOL,PPR,Y06,NaN,202,SOUTH METROPOLITAN,-32.010358,115.911564
3,COMMUNITY KINDERGARTENS,ALBANY COMMUNITY KINDERGARTEN,KIN,KIN,NaN,29,SOUTH WEST,-35.021460,117.880987
4,PRIMARY SCHOOLS,ALBANY PRIMARY SCHOOL,KIN,Y06,NaN,426,SOUTH WEST,-35.018212,117.891611

In [5]:
# remove instances where Y12 is NaN - i.e. dataset is only for secondary schools with Y12 students in it
nan_value = float("NaN")
new_WASchools_df.replace("", nan_value, inplace=True)
new_WASchools_df.dropna(subset = ["Y12"], inplace=True)

# create id
new_WASchools_df.insert(0, 'School_ID', range(0, 0 + len(new_WASchools_df)))

# rename columns
new_WASchools_df = pd.DataFrame(new_WASchools_df).rename(columns = {'School Name':'School_Name'})
new_WASchools_df = pd.DataFrame(new_WASchools_df).rename(columns = {'Classification Group':'Classification_Group'})

new_WASchools_df.head()

,School_ID,Classification_Group,School_Name,Low Year,High Year,Y12,Total Students,Education Region,Latitude,Longitude
1,0,NON-GOVERNMENT,AL-AMEEN COLLEGE,KIN,Y12,45.0,"1,136",SOUTH METROPOLITAN,-32.046056,115.937158
5,1,EDUCATION SUPPORT,ALBANY SECONDARY EDUCATION SUPPORT CENTRE,Y07,Y12,17.0,63,SOUTH WEST,-34.990749,117.866867
6,2,SECONDARY SCHOOLS,ALBANY SENIOR HIGH SCHOOL,Y07,Y12,130.0,958,SOUTH WEST,-35.020448,117.891773
8,3,NON-GOVERNMENT,ALKIMOS BAPTIST COLLEGE,KIN,Y12,12.0,298,NORTH METROPOLITAN,-31.660328,115.710178
12,4,NON-GOVERNMENT,ALL SAINTS' COLLEGE,KIN,Y12,144.0,"1,340",SOUTH METROPOLITAN,-32.049470,115.867023

In [6]:
new_WASchools_df.loc[new_WASchools_df['School_Name'] == "APPLECROSS SENIOR HIGH SCHOOL"]

,School_ID,Classification_Group,School_Name,Low Year,High Year,Y12,Total Students,Education Region,Latitude,Longitude
21,6,SECONDARY SCHOOLS,APPLECROSS SENIOR HIGH SCHOOL,Y07,Y12,286.0,"1,731",SOUTH METROPOLITAN,-32.029376,115.83509

# Datasource 3

In [7]:
# <!-- URL for Data source 3 – WA School Ranking – 2020 -->
url = 'https://bettereducation.com.au/results/wa/wace.aspx'

# <!-- read table -->
tables = pd.read_html(url)

# insert table into a df and drop the first column
df_2020 = tables[0].drop(['Unnamed: 0'],axis=1)

# insert year
df_2020['Year'] = 2020

url = 'https://bettereducation.com.au/results/wa/wace.aspx?yr=2019'
tables = pd.read_html(url)
df_2019 = tables[0].drop(['Unnamed: 0'],axis=1)
df_2019['Year'] = 2019

url = 'https://bettereducation.com.au/results/wa/wace.aspx?yr=2018'
tables = pd.read_html(url)
df_2018 = tables[0].drop(['Unnamed: 0'],axis=1)
df_2018['Year'] = 2018

url = 'https://bettereducation.com.au/results/wa/wace.aspx?yr=2017'
tables = pd.read_html(url)
df_2017 = tables[0].drop(['Unnamed: 0'],axis=1)
df_2017['Year'] = 2017

url = 'https://bettereducation.com.au/results/wa/wace.aspx?yr=2016'
tables = pd.read_html(url)
df_2016 = tables[0].drop(['Unnamed: 0'],axis=1)
df_2016['Year'] = 2016

In [8]:
df= df_2020.append(df_2019).append(df_2018).append(df_2017).append(df_2016)
df

,Better Education Rank,School,Median ATAR,No. eligible Yr 12 students,No. Students with an ATAR,% students with an ATAR,Trend / Compare,Year
0,1,Perth Modern School,97.55,242,242,100.00,Trend / Compare,2020
1,2,St Hilda's Anglican School for Girls,92.70,147,134,91.16,Trend / Compare,2020
2,3,Christ Church Grammar School,92.50,190,175,92.11,Trend / Compare,2020
3,4,Penrhos College,90.65,135,116,85.93,Trend / Compare,2020
4,5,Methodist Ladies' College,90.55,126,112,88.89,Trend / Compare,2020
...,...,...,...,...,...,...,...,...
138,139,Thornlie Senior High School,58.45,125,35,28.00,Trend / Compare,2016
139,140,Lakeland Senior High School,57.70,89,27,30.34,Trend / Compare,2016
140,141,Newton Moore Senior High School,56.95,90,35,38.89,Trend / Compare,2016
141,142,Foundation Christian College,50.65,35,26,74.29,Trend / Compare,2016
142,143,Warnbro Community High School,45.30,171,48,28.07,Trend / Compare,2016

In [9]:
cols = list(df.columns)
cols

['Better Education Rank',
 'School',
 'Median ATAR',
 'No. eligible Yr 12 students',
 'No. Students with an ATAR',
 '% students with an ATAR',
 'Trend / Compare',
 'Year']

In [10]:
cols = list(df.columns)
# rename columns to something more descriptive 
cols[0] = "ATAR_Ranking"
# rename School to School Name to tie in with Data Source 2
cols[1] = "School_Name"
cols[2] = "Median_ATAR"
cols[3] = "Eligible_Y12_Students"
cols[4] = "Students_with_an_ATAR"
cols[5] = "Pct_students_with_an_ATAR"
cols[6] = "Trend"
cols[7] = "Year"

df.columns = cols

df = df[ ['Year'] + [ col for col in df.columns if col != 'Year' ] ]
# make the school name uppercase to enable easier merge for end user
# df['School_Name'] = df['School_Name'].str.upper()

df.head()

,Year,ATAR_Ranking,School_Name,Median_ATAR,Eligible_Y12_Students,Students_with_an_ATAR,Pct_students_with_an_ATAR,Trend
0,2020,1,Perth Modern School,97.55,242,242,100.00,Trend / Compare
1,2020,2,St Hilda's Anglican School for Girls,92.70,147,134,91.16,Trend / Compare
2,2020,3,Christ Church Grammar School,92.50,190,175,92.11,Trend / Compare
3,2020,4,Penrhos College,90.65,135,116,85.93,Trend / Compare
4,2020,5,Methodist Ladies' College,90.55,126,112,88.89,Trend / Compare

In [11]:
df=df.drop(['Trend'],axis = 1)

In [12]:
# sort
df = df.sort_values(["ATAR_Ranking", "Year"], ascending = (True, False))
df['School_Name'] = df['School_Name'].str.upper()
print(df)

     Year  ATAR_Ranking                                        School_Name  \
0    2020             1                                PERTH MODERN SCHOOL
0    2019             1                                PERTH MODERN SCHOOL
0    2018             1                                PERTH MODERN SCHOOL
0    2017             1                                PERTH MODERN SCHOOL
0    2016             1                                PERTH MODERN SCHOOL
..    ...           ...                                                ...
144  2017           145                             SOUTHERN RIVER COLLEGE
145  2018           146                                  DALYELLUP COLLEGE
145  2017           146                         HEDLAND SENIOR HIGH SCHOOL
146  2018           147                      ROCKINGHAM SENIOR HIGH SCHOOL
147  2018           148  WESTERN AUSTRALIAN COLLEGE OF AGRICULTURE (CUN...

     Median_ATAR  Eligible_Y12_Students  Students_with_an_ATAR  \
0          97.55                    242                    242
0          96.75                    241                    238
0          97.00                    240                    236
0          95.90                    223                    222
0          95.55                    222                    220
..           ...                    ...                    ...
144        55.40                     96                     24
145        51.90                     70                     29
145        52.45                     90                     29
146        47.90                     98                     22
147        32.50                     61                     22

     Pct_students_with_an_ATAR
0                       100.00
0                        98.76
0                        98.33
0                        99.55
0                        99.10
..                         ...
144                      25.00
145                      41.43
145                      32.22
146                      22.45
147                      36.07

[718 rows x 7 columns]

In [13]:
# merge in school_id
secondary_schools_df = pd.merge(df, new_WASchools_df, on="School_Name", how = "left")
secondary_schools_df.head()

,Year,ATAR_Ranking,School_Name,Median_ATAR,Eligible_Y12_Students,Students_with_an_ATAR,Pct_students_with_an_ATAR,School_ID,Classification_Group,Low Year,High Year,Y12,Total Students,Education Region,Latitude,Longitude
0,2020,1,PERTH MODERN SCHOOL,97.55,242,242,100.00,224.0,SECONDARY SCHOOLS,Y07,Y12,247.0,"1,447",NORTH METROPOLITAN,-31.945066,115.836396
1,2019,1,PERTH MODERN SCHOOL,96.75,241,238,98.76,224.0,SECONDARY SCHOOLS,Y07,Y12,247.0,"1,447",NORTH METROPOLITAN,-31.945066,115.836396
2,2018,1,PERTH MODERN SCHOOL,97.00,240,236,98.33,224.0,SECONDARY SCHOOLS,Y07,Y12,247.0,"1,447",NORTH METROPOLITAN,-31.945066,115.836396
3,2017,1,PERTH MODERN SCHOOL,95.90,223,222,99.55,224.0,SECONDARY SCHOOLS,Y07,Y12,247.0,"1,447",NORTH METROPOLITAN,-31.945066,115.836396
4,2016,1,PERTH MODERN SCHOOL,95.55,222,220,99.10,224.0,SECONDARY SCHOOLS,Y07,Y12,247.0,"1,447",NORTH METROPOLITAN,-31.945066,115.836396

In [14]:
# check if there's any bad data that didn't merge
secondary_schools_df[secondary_schools_df['School_ID'].isnull()]

,Year,ATAR_Ranking,School_Name,Median_ATAR,Eligible_Y12_Students,Students_with_an_ATAR,Pct_students_with_an_ATAR,School_ID,Classification_Group,Low Year,High Year,Y12,Total Students,Education Region,Latitude,Longitude
9,2016,2,PRESBYTERIAN LADIES' COLLEGE,92.90,122,110,90.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2019,5,PRESBYTERIAN LADIES' COLLEGE,90.75,123,116,94.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,2017,8,PRESBYTERIAN LADIES' COLLEGE,89.60,116,111,95.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,2020,11,PRESBYTERIAN LADIES' COLLEGE,89.20,109,97,88.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,2018,20,PRESBYTERIAN LADIES' COLLEGE,86.90,127,115,90.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,2016,24,ST STEPHEN'S SCHOOL (CARRAMAR CAMPUS),85.10,102,67,65.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,2018,30,AUSTRALIAN ISLAMIC COLLEGE (KEWDALE),84.85,96,50,52.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,2017,30,GREAT SOUTHERN GRAMMAR SCHOOL,85.00,83,59,71.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,2018,34,ST STEPHEN'S SCHOOL (CARRAMAR),84.40,97,49,50.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,2019,37,"CHRISTIAN BROTHERS COLLEGE,FREMANTLE,WA,6160",82.30,126,66,52.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,2016,38,ST STEPHEN'S SCHOOL (DUNCRAIG CAMPUS),83.15,145,118,81.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,2019,40,AUSTRALIAN ISLAMIC COLLEGE (KEWDALE),81.95,108,68,62.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,2016,41,GREAT SOUTHERN GRAMMAR SCHOOL,82.25,92,76,82.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,2017,44,"CHRISTIAN BROTHERS COLLEGE,FREMANTLE,WA,6160",82.15,129,72,55.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,2016,47,AUSTRALIAN ISLAMIC COLLEGE,81.85,86,68,79.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,2020,49,"CHRISTIAN BROTHERS COLLEGE,FREMANTLE,WA,6160",82.20,112,66,58.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,2016,50,"CHRISTIAN BROTHERS COLLEGE,FREMANTLE,WA,6160",80.70,128,78,60.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,2018,52,"CHRISTIAN BROTHERS COLLEGE,FREMANTLE,WA,6160",81.85,128,74,57.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305,2020,62,"CAREY BAPTIST COLLEGE,HARRISDALE,WA,6112",80.30,114,69,60.53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
347,2016,69,PETER MOYES ANGLICAN COMMUNITY,78.45,133,106,79.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
370,2016,74,SWAN VALLEY ANGLICAN COMMUNITY,77.65,45,31,68.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
384,2017,77,ST STEPHEN'S SCHOOL (CARRAMAR CAMPUS),79.00,94,59,62.77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423,2017,85,ST STEPHEN'S SCHOOL (DUNCRAIG CAMPUS),77.40,123,111,90.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
473,2018,95,ST STEPHEN'S SCHOOL (DUNCRAIG),76.25,135,108,80.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,2016,100,IRENE MCCORMACK CATHOLIC COLLE,73.40,132,67,50.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
505,2020,102,AUSTRALIAN ISLAMIC COLLEGE (KEWDALE),72.55,131,83,63.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
524,2017,105,AUSTRALIAN ISLAMIC COLLEGE (KEWDALE),73.10,107,74,69.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
613,2017,123,WOODTHORPE SCHOOL,68.70,34,23,67.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
618,2017,124,SERPENTINE-JARRAHDALE GRAMMAR SCHOOL,68.40,55,31,56.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
649,2016,130,WOODTHORPE SCHOOL,64.35,38,24,63.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
717,2018,148,WESTERN AUSTRALIAN COLLEGE OF AGRICULTURE (CUN...,32.50,61,22,36.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
secondary_schools_df = secondary_schools_df.reset_index(drop=True)
secondary_schools_df

,Year,ATAR_Ranking,School_Name,Median_ATAR,Eligible_Y12_Students,Students_with_an_ATAR,Pct_students_with_an_ATAR,School_ID,Classification_Group,Low Year,High Year,Y12,Total Students,Education Region,Latitude,Longitude
0,2020,1,PERTH MODERN SCHOOL,97.55,242,242,100.00,224.0,SECONDARY SCHOOLS,Y07,Y12,247.0,"1,447",NORTH METROPOLITAN,-31.945066,115.836396
1,2019,1,PERTH MODERN SCHOOL,96.75,241,238,98.76,224.0,SECONDARY SCHOOLS,Y07,Y12,247.0,"1,447",NORTH METROPOLITAN,-31.945066,115.836396
2,2018,1,PERTH MODERN SCHOOL,97.00,240,236,98.33,224.0,SECONDARY SCHOOLS,Y07,Y12,247.0,"1,447",NORTH METROPOLITAN,-31.945066,115.836396
3,2017,1,PERTH MODERN SCHOOL,95.90,223,222,99.55,224.0,SECONDARY SCHOOLS,Y07,Y12,247.0,"1,447",NORTH METROPOLITAN,-31.945066,115.836396
4,2016,1,PERTH MODERN SCHOOL,95.55,222,220,99.10,224.0,SECONDARY SCHOOLS,Y07,Y12,247.0,"1,447",NORTH METROPOLITAN,-31.945066,115.836396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
713,2017,145,SOUTHERN RIVER COLLEGE,55.40,96,24,25.00,259.0,SECONDARY SCHOOLS,Y07,Y12,116.0,970,SOUTH METROPOLITAN,-32.085598,115.979918
714,2018,146,DALYELLUP COLLEGE,51.90,70,29,41.43,72.0,SECONDARY SCHOOLS,Y07,Y12,107.0,749,SOUTH WEST,-33.403855,115.625767
715,2017,146,HEDLAND SENIOR HIGH SCHOOL,52.45,90,29,32.22,123.0,SECONDARY SCHOOLS,Y07,Y12,105.0,999,PILBARA,-20.398789,118.598616
716,2018,147,ROCKINGHAM SENIOR HIGH SCHOOL,47.90,98,22,22.45,238.0,SECONDARY SCHOOLS,Y07,Y12,123.0,"1,030",SOUTH METROPOLITAN,-32.284952,115.735520
717,2018,148,WESTERN AUSTRALIAN COLLEGE OF AGRICULTURE (CUN...,32.50,61,22,36.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# replace bad data
# secondary_schools_df['School_Name'] = df['School_Name'].replace(
#     {"PRESBYTERIAN LADIES' COLLEGE":"PRESBYTERIAN LADIES COLLEGE"
#     # ,
#     # "CHRISTIAN BROTHERS COLLEGE,FREMANTLE,WA,6160":"CHRISTIAN BROTHERS' COLLEGE",
#     # "CAREY BAPTIST COLLEGE,HARRISDALE,WA,6112":"CAREY BAPTIST COLLEGE",
#     # "AUSTRALIAN ISLAMIC COLLEGE (KEWDALE)":"AUSTRALIAN ISLAMIC COLLEGE - KEWDALE"
#     })

In [17]:
# secondary_schools_df[secondary_schools_df['School_ID'].isnull()]
# secondary_schools_df.head()

In [18]:
# drop School_ID for later remerge for clean data
# secondary_schools_df=secondary_schools_df.drop(["School_ID"],axis=1)
# secondary_schools_df.head()

In [19]:
# merge in school_id
# secondary_schools_df2 = pd.merge(new_WASchools_df,secondary_schools_df, on="School_Name", how = "right").drop(["Classification_Group","School_Name","Y12"],axis=1)
# secondary_schools_df2.head()

In [20]:
# check if there's any bad data that didn't merge
# secondary_schools_df2[secondary_schools_df2['School_ID'].isnull()]

In [21]:
secondary_schools_df

,Year,ATAR_Ranking,School_Name,Median_ATAR,Eligible_Y12_Students,Students_with_an_ATAR,Pct_students_with_an_ATAR,School_ID,Classification_Group,Low Year,High Year,Y12,Total Students,Education Region,Latitude,Longitude
0,2020,1,PERTH MODERN SCHOOL,97.55,242,242,100.00,224.0,SECONDARY SCHOOLS,Y07,Y12,247.0,"1,447",NORTH METROPOLITAN,-31.945066,115.836396
1,2019,1,PERTH MODERN SCHOOL,96.75,241,238,98.76,224.0,SECONDARY SCHOOLS,Y07,Y12,247.0,"1,447",NORTH METROPOLITAN,-31.945066,115.836396
2,2018,1,PERTH MODERN SCHOOL,97.00,240,236,98.33,224.0,SECONDARY SCHOOLS,Y07,Y12,247.0,"1,447",NORTH METROPOLITAN,-31.945066,115.836396
3,2017,1,PERTH MODERN SCHOOL,95.90,223,222,99.55,224.0,SECONDARY SCHOOLS,Y07,Y12,247.0,"1,447",NORTH METROPOLITAN,-31.945066,115.836396
4,2016,1,PERTH MODERN SCHOOL,95.55,222,220,99.10,224.0,SECONDARY SCHOOLS,Y07,Y12,247.0,"1,447",NORTH METROPOLITAN,-31.945066,115.836396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
713,2017,145,SOUTHERN RIVER COLLEGE,55.40,96,24,25.00,259.0,SECONDARY SCHOOLS,Y07,Y12,116.0,970,SOUTH METROPOLITAN,-32.085598,115.979918
714,2018,146,DALYELLUP COLLEGE,51.90,70,29,41.43,72.0,SECONDARY SCHOOLS,Y07,Y12,107.0,749,SOUTH WEST,-33.403855,115.625767
715,2017,146,HEDLAND SENIOR HIGH SCHOOL,52.45,90,29,32.22,123.0,SECONDARY SCHOOLS,Y07,Y12,105.0,999,PILBARA,-20.398789,118.598616
716,2018,147,ROCKINGHAM SENIOR HIGH SCHOOL,47.90,98,22,22.45,238.0,SECONDARY SCHOOLS,Y07,Y12,123.0,"1,030",SOUTH METROPOLITAN,-32.284952,115.735520
717,2018,148,WESTERN AUSTRALIAN COLLEGE OF AGRICULTURE (CUN...,32.50,61,22,36.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
secondary_schools_df.to_csv (r'C:\Users\user_491721\Desktop\Analytics Bootcamp\Projects\Project 3\static\schools.csv', index = False, header=True)

In [22]:
secondary_schools_df.columns

Index(['Year', 'ATAR_Ranking', 'School_Name', 'Median_ATAR',
       'Eligible_Y12_Students', 'Students_with_an_ATAR',
       'Pct_students_with_an_ATAR', 'School_ID', 'Classification_Group',
       'Low Year', 'High Year', 'Y12', 'Total Students', 'Education Region',
       'Latitude', 'Longitude'],
      dtype='object')

In [132]:
# convert all numeric to string
string_schools_df = secondary_schools_df
string_schools_df['Year'] = string_schools_df['Year'].apply(str)
string_schools_df['ATAR_Ranking'] = string_schools_df['ATAR_Ranking'].apply(str)
string_schools_df['Median_ATAR'] = string_schools_df['Median_ATAR'].apply(str)
string_schools_df['Eligible_Y12_Students'] = string_schools_df['Eligible_Y12_Students'].apply(str)
string_schools_df['Students_with_an_ATAR'] = string_schools_df['Students_with_an_ATAR'].apply(str)
string_schools_df['Pct_students_with_an_ATAR'] = string_schools_df['Pct_students_with_an_ATAR'].apply(str)
string_schools_df['Y12'] = string_schools_df['Y12'].apply(str)
string_schools_df['Total Students'] = string_schools_df['Total Students'].apply(str)
string_schools_df['Latitude'] = string_schools_df['Latitude'].apply(str)
string_schools_df['Longitude'] = string_schools_df['Longitude'].apply(str)

string_schools_df.dtypes

Year                         object
ATAR_Ranking                 object
School_Name                  object
Median_ATAR                  object
Eligible_Y12_Students        object
Students_with_an_ATAR        object
Pct_students_with_an_ATAR    object
Classification_Group         object
Low Year                     object
High Year                    object
Y12                          object
Total Students               object
Education Region             object
Latitude                     object
Longitude                    object
dtype: object

In [133]:
# Convert to list for data html

school_list = string_schools_df.values.tolist()
print(school_list)

[['2020', '1', 'PERTH MODERN SCHOOL', '97.55', '242', '242', '100.0', 'SECONDARY SCHOOLS', 'Y07', 'Y12', '247.0', '1,447', 'NORTH METROPOLITAN', '-31.94506602', '115.8363958'], ['2019', '1', 'PERTH MODERN SCHOOL', '96.75', '241', '238', '98.76', 'SECONDARY SCHOOLS', 'Y07', 'Y12', '247.0', '1,447', 'NORTH METROPOLITAN', '-31.94506602', '115.8363958'], ['2018', '1', 'PERTH MODERN SCHOOL', '97.0', '240', '236', '98.33', 'SECONDARY SCHOOLS', 'Y07', 'Y12', '247.0', '1,447', 'NORTH METROPOLITAN', '-31.94506602', '115.8363958'], ['2017', '1', 'PERTH MODERN SCHOOL', '95.9', '223', '222', '99.55', 'SECONDARY SCHOOLS', 'Y07', 'Y12', '247.0', '1,447', 'NORTH METROPOLITAN', '-31.94506602', '115.8363958'], ['2016', '1', 'PERTH MODERN SCHOOL', '95.55', '222', '220', '99.1', 'SECONDARY SCHOOLS', 'Y07', 'Y12', '247.0', '1,447', 'NORTH METROPOLITAN', '-31.94506602', '115.8363958'], ['2020', '2', "ST HILDA'S ANGLICAN SCHOOL FOR GIRLS", '92.7', '147', '134', '91.16', 'NON-GOVERNMENT', 'KIN', 'Y12', '129.0', '1,062', 'NORTH METROPOLITAN', '-32.005047', '115.767812'], ['2019', '2', 'HALE SCHOOL', '92.85', '201', '177', '88.06', 'NON-GOVERNMENT', 'PPR', 'Y12', '201.0', '1,582', 'NORTH METROPOLITAN', '-31.91232249', '115.7837828'], ['2018', '2', 'CARMEL SCHOOL', '92.6', '33', '31', '93.94', 'NON-GOVERNMENT', 'KIN', 'Y12', '40.0', '442', 'NORTH METROPOLITAN', '-31.89910743', '115.8620749'], ['2017', '2', "ST HILDA'S ANGLICAN SCHOOL FOR GIRLS", '93.6', '142', '133', '93.66', 'NON-GOVERNMENT', 'KIN', 'Y12', '129.0', '1,062', 'NORTH METROPOLITAN', '-32.005047', '115.767812'], ['2016', '2', "PRESBYTERIAN LADIES' COLLEGE", '92.9', '122', '110', '90.16', nan, nan, nan, 'nan', 'nan', nan, 'nan', 'nan'], ['2020', '3', 'CHRIST CHURCH GRAMMAR SCHOOL', '92.5', '190', '175', '92.11', 'NON-GOVERNMENT', 'KIN', 'Y12', '189.0', '1,717', 'NORTH METROPOLITAN', '-31.98546117', '115.7769868'], ['2019', '3', 'CHRIST CHURCH GRAMMAR SCHOOL', '92.5', '199', '178', '89.45', 'NON-GOVERNMENT', 'KIN', 'Y12', '189.0', '1,717', 'NORTH METROPOLITAN', '-31.98546117', '115.7769868'], ['2018', '3', "ST MARY'S ANGLICAN GIRLS' SCHOOL", '92.1', '175', '150', '85.71', 'NON-GOVERNMENT', 'KIN', 'Y12', '167.0', '1,469', 'NORTH METROPOLITAN', '-31.87697112', '115.766244'], ['2017', '3', 'CHRIST CHURCH GRAMMAR SCHOOL', '92.45', '182', '159', '87.36', 'NON-GOVERNMENT', 'KIN', 'Y12', '189.0', '1,717', 'NORTH METROPOLITAN', '-31.98546117', '115.7769868'], ['2016', '3', 'PENRHOS COLLEGE', '92.65', '145', '123', '84.83', 'NON-GOVERNMENT', 'KIN', 'Y12', '109.0', '936', 'SOUTH METROPOLITAN', '-31.99743072', '115.8725394'], ['2020', '4', 'PENRHOS COLLEGE', '90.65', '135', '116', '85.93', 'NON-GOVERNMENT', 'KIN', 'Y12', '109.0', '936', 'SOUTH METROPOLITAN', '-31.99743072', '115.8725394'], ['2019', '4', "ST MARY'S ANGLICAN GIRLS' SCHOOL", '91.15', '161', '137', '85.09', 'NON-GOVERNMENT', 'KIN', 'Y12', '167.0', '1,469', 'NORTH METROPOLITAN', '-31.87697112', '115.766244'], ['2018', '4', "METHODIST LADIES' COLLEGE", '92.0', '139', '133', '95.68', 'NON-GOVERNMENT', 'KIN', 'Y12', '127.0', '995', 'NORTH METROPOLITAN', '-31.98701169', '115.7755403'], ['2017', '4', 'PENRHOS COLLEGE', '91.2', '139', '119', '85.61', 'NON-GOVERNMENT', 'KIN', 'Y12', '109.0', '936', 'SOUTH METROPOLITAN', '-31.99743072', '115.8725394'], ['2016', '4', 'CHRIST CHURCH GRAMMAR SCHOOL', '92.5', '188', '171', '90.96', 'NON-GOVERNMENT', 'KIN', 'Y12', '189.0', '1,717', 'NORTH METROPOLITAN', '-31.98546117', '115.7769868'], ['2020', '5', "METHODIST LADIES' COLLEGE", '90.55', '126', '112', '88.89', 'NON-GOVERNMENT', 'KIN', 'Y12', '127.0', '995', 'NORTH METROPOLITAN', '-31.98701169', '115.7755403'], ['2019', '5', "PRESBYTERIAN LADIES' COLLEGE", '90.75', '123', '116', '94.31', nan, nan, nan, 'nan', 'nan', nan, 'nan', 'nan'], ['2018', '5', "ST HILDA'S ANGLICAN SCHOOL FOR GIRLS", '91.65', '141', '135', '95.74', 'NON-GOVERNMENT', 'KIN', 'Y12', '129.0', '1,062', 'NORTH METROPOLITAN', '-32.005047', '115.767812'], ['2017', '5', "ST MARY'S ANGLICAN GIRLS' SCHOOL", '90.95', '174', '157', '90.23', 'NON-GOVERNMENT', 'KIN', 'Y12', '167.0', '1,469', 'NORTH METROPOLITAN', '-31.87697112', '115.766244'], ['2016', '5', 'SANTA MARIA COLLEGE', '91.85', '189', '151', '79.89', 'NON-GOVERNMENT', 'Y05', 'Y12', '176.0', '1,309', 'SOUTH METROPOLITAN', '-32.018614', '115.795823'], ['2020', '6', 'HALE SCHOOL', '90.35', '194', '169', '87.11', 'NON-GOVERNMENT', 'PPR', 'Y12', '201.0', '1,582', 'NORTH METROPOLITAN', '-31.91232249', '115.7837828'], ['2019', '6', "METHODIST LADIES' COLLEGE", '89.95', '140', '134', '95.71', 'NON-GOVERNMENT', 'KIN', 'Y12', '127.0', '995', 'NORTH METROPOLITAN', '-31.98701169', '115.7755403'], ['2018', '6', 'CHRIST CHURCH GRAMMAR SCHOOL', '91.6', '181', '163', '90.06', 'NON-GOVERNMENT', 'KIN', 'Y12', '189.0', '1,717', 'NORTH METROPOLITAN', '-31.98546117', '115.7769868'], ['2017', '6', 'SANTA MARIA COLLEGE', '89.9', '166', '125', '75.3', 'NON-GOVERNMENT', 'Y05', 'Y12', '176.0', '1,309', 'SOUTH METROPOLITAN', '-32.018614', '115.795823'], ['2016', '6', "ST HILDA'S ANGLICAN SCHOOL FOR GIRLS", '91.4', '135', '127', '94.07', 'NON-GOVERNMENT', 'KIN', 'Y12', '129.0', '1,062', 'NORTH METROPOLITAN', '-32.005047', '115.767812'], ['2020', '7', "ST MARY'S ANGLICAN GIRLS' SCHOOL", '90.3', '153', '128', '83.66', 'NON-GOVERNMENT', 'KIN', 'Y12', '167.0', '1,469', 'NORTH METROPOLITAN', '-31.87697112', '115.766244'], ['2019', '7', 'PERTH COLLEGE', '89.85', '135', '123', '91.11', 'NON-GOVERNMENT', 'KIN', 'Y12', '135.0', '998', 'NORTH METROPOLITAN', '-31.93117853', '115.8754809'], ['2018', '7', 'SANTA MARIA COLLEGE', '90.1', '177', '139', '78.53', 'NON-GOVERNMENT', 'Y05', 'Y12', '176.0', '1,309', 'SOUTH METROPOLITAN', '-32.018614', '115.795823'], ['2017', '7', 'JOHN XXIII COLLEGE', '89.8', '161', '140', '86.96', 'NON-GOVERNMENT', 'KIN', 'Y12', '179.0', '1,577', 'NORTH METROPOLITAN', '-31.9599189', '115.7847988'], ['2016', '7', 'PERTH COLLEGE', '90.55', '140', '127', '90.71', 'NON-GOVERNMENT', 'KIN', 'Y12', '135.0', '998', 'NORTH METROPOLITAN', '-31.93117853', '115.8754809'], ['2020', '8', 'JOHN XXIII COLLEGE', '89.5', '168', '132', '78.57', 'NON-GOVERNMENT', 'KIN', 'Y12', '179.0', '1,577', 'NORTH METROPOLITAN', '-31.9599189', '115.7847988'], ['2019', '8', "ST HILDA'S ANGLICAN SCHOOL FOR GIRLS", '89.7', '129', '122', '94.57', 'NON-GOVERNMENT', 'KIN', 'Y12', '129.0', '1,062', 'NORTH METROPOLITAN', '-32.005047', '115.767812'], ['2018', '8', 'ROSSMOYNE SENIOR HIGH SCHOOL', '89.45', '349', '288', '82.52', 'SECONDARY SCHOOLS', 'Y07', 'Y12', '352.0', '2,371', 'SOUTH METROPOLITAN', '-32.04626472', '115.8705457'], ['2017', '8', 'MANJIMUP SENIOR HIGH SCHOOL', '89.6', '94', '28', '29.79', 'SECONDARY SCHOOLS', 'Y07', 'Y12', '113.0', '598', 'SOUTH WEST', '-34.233842', '116.133228'], ['2017', '8', "PRESBYTERIAN LADIES' COLLEGE", '89.6', '116', '111', '95.69', nan, nan, nan, 'nan', 'nan', nan, 'nan', 'nan'], ['2016', '8', "ST MARY'S ANGLICAN GIRLS' SCHOOL", '90.4', '174', '156', '89.66', 'NON-GOVERNMENT', 'KIN', 'Y12', '167.0', '1,469', 'NORTH METROPOLITAN', '-31.87697112', '115.766244'], ['2020', '9', 'PERTH COLLEGE', '89.4', '129', '116', '89.92', 'NON-GOVERNMENT', 'KIN', 'Y12', '135.0', '998', 'NORTH METROPOLITAN', '-31.93117853', '115.8754809'], ['2019', '9', 'URSULA FRAYNE CATHOLIC COLLEGE', '88.9', '147', '88', '59.86', 'NON-GOVERNMENT', 'KIN', 'Y12', '153.0', '1,453', 'SOUTH METROPOLITAN', '-31.97297817', '115.8990335'], ['2018', '9', 'HALE SCHOOL', '89.4', '204', '187', '91.67', 'NON-GOVERNMENT', 'PPR', 'Y12', '201.0', '1,582', 'NORTH METROPOLITAN', '-31.91232249', '115.7837828'], ['2016', '9', "METHODIST LADIES' COLLEGE", '90.3', '102', '100', '98.04', 'NON-GOVERNMENT', 'KIN', 'Y12', '127.0', '995', 'NORTH METROPOLITAN', '-31.98701169', '115.7755403'], ['2020', '10', 'SANTA MARIA COLLEGE', '89.35', '176', '120', '68.18', 'NON-GOVERNMENT', 'Y05', 'Y12', '176.0', '1,309', 'SOUTH METROPOLITAN', '-32.018614', '115.795823'], ['2019', '10', 'SHENTON COLLEGE', '88.55', '308', '225', '73.05', 'SECONDARY SCHOOLS', 'Y07', 'Y12', '379.0', '2,562', 'NORTH METROPOLITAN', '-31.95969986', '115.803008'], ['2018', '10', 'WESLEY COLLEGE', '88.8', '159', '121', '76.1', 'NON-GOVERNMENT', 'KIN', 'Y12', '142.0', '1,275', 'SOUTH METROPOLITAN', '-31.97995555', '115.865934'], ['2017', '10', 'CARMEL SCHOOL', '89.55', '38', '34', '89.47', 'NON-GOVERNMENT', 'KIN', 'Y12', '40.0', '442', 'NORTH METROPOLITAN', '-31.89910743', '115.8620749'], ['2016', '10', 'SHENTON COLLEGE', '90.0', '287', '210', '73.17', 'SECONDARY SCHOOLS', 'Y07', 'Y12', '379.0', '2,562', 'NORTH METROPOLITAN', '-31.95969986', '115.803008'], ['2020', '11', "PRESBYTERIAN LADIES' COLLEGE", '89.2', '109', '97', '88.99', nan, nan, nan, 'nan', 'nan', nan, 'nan', 'nan'], ['2019', '11', 'PENRHOS COLLEGE', '88.3', '118', '103', '87.29', 'NON-GOVERNMENT', 'KIN', 'Y12', '109.0', '936', 'SOUTH METROPOLITAN', '-31.99743072', '115.8725394'], ['2018', '11', 'PENRHOS COLLEGE', '88.15', '152', '137', '90.13', 'NON-GOVERNMENT', 'KIN', 'Y12', '109.0', '936', 'SOUTH METROPOLITAN', '-31.99743072', '115.8725394'], ['2017', '11', 'PERTH COLLEGE', '89.45', '137', '120', '87.59', 'NON-GOVERNMENT', 'KIN', 'Y12', '135.0', '998', 'NORTH METROPOLITAN', '-31.93117853', '115.8754809'], ['2016', '11', 'HALE SCHOOL', '89.8', '198', '181', '91.41', 'NON-GOVERNMENT', 'PPR', 'Y12', '201.0', '1,582', 'NORTH METROPOLITAN', '-31.91232249', '115.7837828'], ['2020', '12', 'KENNEDY BAPTIST COLLEGE', '88.95', '167', '84', '50.3', 'NON-GOVERNMENT', 'Y07', 'Y12', '179.0', '1,198', 'SOUTH METROPOLITAN', '-32.073356', '115.829647'], ['2019', '12', 'ROSSMOYNE SENIOR HIGH SCHOOL', '88.05', '311', '241', '77.49', 'SECONDARY SCHOOLS', 'Y07', 'Y12', '352.0', '2,371', 'SOUTH METROPOLITAN', '-32.04626472', '115.8705457'], ['2018', '12', 'PERTH COLLEGE', '88.1', '137', '121', '88.32', 'NON-GOVERNMENT', 'KIN', 'Y12', '135.0', '998', 'NORTH METROPOLITAN', '-31.93117853', '115.8754809'], ['2018', '12', 'SHENTON COLLEGE', '88.1', '292', '216', '73.97', 'SECONDARY SCHOOLS', 'Y07', 'Y12', '379.0', '2,562', 'NORTH METROPOLITAN', '-31.95969986', '115.803008'], ['2017', '12', 'HALE SCHOOL', '89.3', '187', '172', '91.98', 'NON-GOVERNMENT', 'PPR', 'Y12', '201.0', '1,582', 'NORTH METROPOLITAN', '-31.91232249', '115.7837828'], ['2016', '12', 'CARMEL SCHOOL', '89.35', '24', '24', '100.0', 'NON-GOVERNMENT', 'KIN', 'Y12', '40.0', '442', 'NORTH METROPOLITAN', '-31.89910743', '115.8620749'], ['2020', '13', 'CARMEL SCHOOL', '88.85', '33', '32', '96.97', 'NON-GOVERNMENT', 'KIN', 'Y12', '40.0', '442', 'NORTH METROPOLITAN', '-31.89910743', '115.8620749'], ['2019', '13', 'WILLETTON SENIOR HIGH SCHOOL', '87.55', '349', '257', '73.64', 'SECONDARY SCHOOLS', 'Y07', 'Y12', '400.0', '2,564', 'SOUTH METROPOLITAN', '-32.06131317', '115.8792246'], ['2017', '13', 'WILLETTON SENIOR HIGH SCHOOL', '89.15', '395', '272', '68.86', 'SECONDARY SCHOOLS', 'Y07', 'Y12', '400.0', '2,564', 'SOUTH METROPOLITAN', '-32.06131317', '115.8792246'], ['2016', '13', 'JOHN XXIII COLLEGE', '88.6', '157', '139', '88.54', 'NON-GOVERNMENT', 'KIN', 'Y12', '179.0', '1,577', 'NORTH METROPOLITAN', '-31.9599189', '115.7847988'], ['2020', '14', 'SHENTON COLLEGE', '88.6', '343', '246', '71.72', 'SECONDARY SCHOOLS', 'Y07', 'Y12', '379.0', '2,562', 'NORTH METROPOLITAN', '-31.95969986', '115.803008'], ['2019', '14', 'SACRED HEART COLLEGE', '87.45', '220', '145', '65.91', 'NON-GOVERNMENT', 'Y07', 'Y12', '223.0', '1,437', 'NORTH METROPOLITAN', '-31.82737166', '115.74657'], ['2019', '14', 'SANTA MARIA COLLEGE', '87.45', '180', '142', '78.89', 'NON-GOVERNMENT', 'Y05', 'Y12', '176.0', '1,309', 'SOUTH METROPOLITAN', '-32.018614', '115.795823'], ['2018', '14', 'SCOTCH COLLEGE', '88.0', '161', '133', '82.61', 'NON-GOVERNMENT', 'KIN', 'Y12', '203.0', '1,393', 'NORTH METROPOLITAN', '-31.98113329', '115.7731945'], ['2017', '14', 'IONA PRESENTATION COLLEGE', '89.1', '149', '115', '77.18', 'NON-GOVERNMENT', 'KIN', 'Y12', '123.0', '1,240', 'NORTH METROPOLITAN', '-32.00852636', '115.7677349'], ['2016', '14', 'WILLETTON SENIOR HIGH SCHOOL', '88.05', '389', '289', '74.29', 'SECONDARY SCHOOLS', 'Y07', 'Y12', '400.0', '2,564', 'SOUTH METROPOLITAN', '-32.06131317', '115.8792246'], ['2020', '15', 'MERCEDES COLLEGE', '88.55', '139', '101', '72.66', 'NON-GOVERNMENT', 'Y07', 'Y12', '121.0', '836', 'NORTH METROPOLITAN', '-31.95623304', '115.8670832'], ['2018', '15', 'URSULA FRAYNE CATHOLIC COLLEGE', '87.8', '107', '66', '61.68', 'NON-GOVERNMENT', 'KIN', 'Y12', '153.0', '1,453', 'SOUTH METROPOLITAN', '-31.97297817', '115.8990335'], ['2018', '15', 'WILLETTON SENIOR HIGH SCHOOL', '87.8', '367', '293', '79.84', 'SECONDARY SCHOOLS', 'Y07', 'Y12', '400.0', '2,564', 'SOUTH METROPOLITAN', '-32.06131317', '115.8792246'], ['2017', '15', 'ROSSMOYNE SENIOR HIGH SCHOOL', '88.95', '349', '288', '82.52', 'SECONDARY SCHOOLS', 'Y07', 'Y12', '352.0', '2,371', 'SOUTH METROPOLITAN', '-32.04626472', '115.8705457'], ['2016', '15', 'ROSSMOYNE SENIOR HIGH SCHOOL', '87.35', '366', '310', '84.7', 'SECONDARY SCHOOLS', 'Y07', 'Y12', '352.0', '2,371', 'SOUTH METROPOLITAN', '-32.04626472', '115.8705457'], ['2020', '16', 'ROSSMOYNE SENIOR HIGH SCHOOL', '88.4', '368', '274', '74.46', 'SECONDARY SCHOOLS', 'Y07', 'Y12', '352.0', '2,371', 'SOUTH METROPOLITAN', '-32.04626472', '115.8705457'], ['2019', '16', 'IONA PRESENTATION COLLEGE', '87.25', '149', '108', '72.48', 'NON-GOVERNMENT', 'KIN', 'Y12', '123.0', '1,240', 'NORTH METROPOLITAN', '-32.00852636', '115.7677349'], ['2017', '16', 'SHENTON COLLEGE', '88.8', '287', '211', '73.52', 'SECONDARY SCHOOLS', 'Y07', 'Y12', '379.0', '2,562', 'NORTH METROPOLITAN', '-31.95969986', '115.803008'], ['2016', '16', 'SCOTCH COLLEGE', '87.3', '161', '138', '85.71', 'NON-GOVERNMENT', 'KIN', 'Y12', '203.0', '1,393', 'NORTH METROPOLITAN', '-31.98113329', '115.7731945'], ['2020', '17', 'IONA PRESENTATION COLLEGE', '87.8', '134', '91', '67.91', 'NON-GOVERNMENT', 'KIN', 'Y12', '123.0', '1,240', 'NORTH METROPOLITAN', '-32.00852636', '115.7677349'], ['2019', '17', 'WESLEY COLLEGE', '86.95', '149', '120', '80.54', 'NON-GOVERNMENT', 'KIN', 'Y12', '142.0', '1,275', 'SOUTH METROPOLITAN', '-31.97995555', '115.865934'], ['2018', '17', "ALL SAINTS' COLLEGE", '87.45', '140', '128', '91.43', 'NON-GOVERNMENT', 'KIN', 'Y12', '144.0', '1,340', 'SOUTH METROPOLITAN', '-32.04946998', '115.867023'], ['2018', '17', 'JOHN XXIII COLLEGE', '87.45', '150', '121', '80.67', 'NON-GOVERNMENT', 'KIN', 'Y12', '179.0', '1,577', 'NORTH METROPOLITAN', '-31.9599189', '115.7847988'], ['2017', '17', "ALL SAINTS' COLLEGE", '88.65', '131', '120', '91.6', 'NON-GOVERNMENT', 'KIN', 'Y12', '144.0', '1,340', 'SOUTH METROPOLITAN', '-32.04946998', '115.867023'], ['2016', '17', 'IONA PRESENTATION COLLEGE', '86.7', '150', '109', '72.67', 'NON-GOVERNMENT', 'KIN', 'Y12', '123.0', '1,240', 'NORTH METROPOLITAN', '-32.00852636', '115.7677349'], ['2020', '18', 'WILLETTON SENIOR HIGH SCHOOL', '87.75', '393', '277', '70.48', 'SECONDARY SCHOOLS', 'Y07', 'Y12', '400.0', '2,564', 'SOUTH METROPOLITAN', '-32.06131317', '115.8792246'], ['2019', '18', 'JOHN XXIII COLLEGE', '86.55', '177', '147', '83.05', 'NON-GOVERNMENT', 'KIN', 'Y12', '179.0', '1,577', 'NORTH METROPOLITAN', '-31.9599189', '115.7847988'], ['2017', '18', 'ST NORBERT COLLEGE', '87.6', '126', '51', '40.48', 'NON-GOVERNMENT', 'Y07', 'Y12', '133.0', '911', 'SOUTH METROPOLITAN', '-32.00436432', '115.9403443'], ['2016', '18', 'MARGARET RIVER SENIOR HIGH SCHOOL', '86.4', '108', '48', '44.44', 'SECONDARY SCHOOLS', 'Y07', 'Y12', '147.0', '1,136', 'SOUTH WEST', '-33.95431827', '115.0746714'], ['2020', '19', 'SACRED HEART COLLEGE', '87.6', '229', '147', '64.19', 'NON-GOVERNMENT', 'Y07', 'Y12', '223.0', '1,437', 'NORTH METROPOLITAN', '-31.82737166', '115.74657'], ['2019', '19', "ALL SAINTS' COLLEGE", '86.5', '138', '113', '81.88', 'NON-GOVERNMENT', 'KIN', 'Y12', '144.0', '1,340', 'SOUTH METROPOLITAN', '-32.04946998', '115.867023'], ['2019', '19', 'SCOTCH COLLEGE', '86.5', '155', '138', '89.03', 'NON-GOVERNMENT', 'KIN', 'Y12', '203.0', '1,393', 'NORTH METROPOLITAN', '-31.98113329', '115.7731945'], ['2018', '19', 'IONA PRESENTATION COLLEGE', '87.2', '146', '105', '71.92', 'NON-GOVERNMENT', 'KIN', 'Y12', '123.0', '1,240', 'NORTH METROPOLITAN', '-32.00852636', '115.7677349'], ['2017', '19', "METHODIST LADIES' COLLEGE", '87.5', '143', '137', '95.8', 'NON-GOVERNMENT', 'KIN', 'Y12', '127.0', '995', 'NORTH METROPOLITAN', '-31.98701169', '115.7755403'], ['2016', '19', 'CORPUS CHRISTI COLLEGE', '86.35', '210', '134', '63.81', 'NON-GOVERNMENT', 'Y07', 'Y12', '225.0', '1,242', 'SOUTH METROPOLITAN', '-32.05699614', '115.8429056'], ['2016', '19', 'SACRED HEART COLLEGE', '86.35', '213', '161', '75.59', 'NON-GOVERNMENT', 'Y07', 'Y12', '223.0', '1,437', 'NORTH METROPOLITAN', '-31.82737166', '115.74657'], ['2020', '20', 'MOUNT LAWLEY SENIOR HIGH SCHOOL', '86.45', '234', '152', '64.96', 'SECONDARY SCHOOLS', 'Y07', 'Y12', '272.0', '1,965', 'NORTH METROPOLITAN', '-31.92122258', '115.8697493'], ['2018', '20', "PRESBYTERIAN LADIES' COLLEGE", '86.9', '127', '115', '90.55', nan, nan, nan, 'nan', 'nan', nan, 'nan', 'nan'], ['2017', '20', 'JOHN CALVIN CHRISTIAN COLLEGE', '87.35', '42', '31', '73.81', 'NON-GOVERNMENT', 'Y07', 'Y12', '45.0', '371', 'SOUTH METROPOLITAN', '-32.14876453', '116.0066034'], ['2020', '21', "ALL SAINTS' COLLEGE", '86.35', '146', '120', '82.19', 'NON-GOVERNMENT', 'KIN', 'Y12', '144.0', '1,340', 'SOUTH METROPOLITAN', '-32.04946998', '115.867023'], ['2019', '21', 'KENNEDY BAPTIST COLLEGE', '86.2', '166', '87', '52.41', 'NON-GOVERNMENT', 'Y07', 'Y12', '179.0', '1,198', 'SOUTH METROPOLITAN', '-32.073356', '115.829647'], ['2018', '21', 'SERVITE COLLEGE', '86.65', '146', '47', '32.19', 'NON-GOVERNMENT', 'Y07', 'Y12', '153.0', '1,030', 'NORTH METROPOLITAN', '-31.90270449', '115.8336415'], ['2017', '21', 'URSULA FRAYNE CATHOLIC COLLEGE', '87.0', '145', '89', '61.38', 'NON-GOVERNMENT', 'KIN', 'Y12', '153.0', '1,453', 'SOUTH METROPOLITAN', '-31.97297817', '115.8990335'], ['2016', '21', 'TRINITY COLLEGE', '85.7', '194', '157', '80.93', 'NON-GOVERNMENT', 'Y04', 'Y12', '177.0', '1,267', 'NORTH METROPOLITAN', '-31.96013472', '115.8825766'], ['2020', '22', 'CHURCHLANDS SENIOR HIGH SCHOOL', '85.9', '415', '263', '63.37', 'SECONDARY SCHOOLS', 'Y07', 'Y12', '448.0', '2,758', 'NORTH METROPOLITAN', '-31.91728978', '115.7899902'], ['2019', '22', 'CHISHOLM CATHOLIC COLLEGE', '85.5', '264', '174', '65.91', 'NON-GOVERNMENT', 'Y07', 'Y12', '251.0', '1,724', 'NORTH METROPOLITAN', '-31.91151257', '115.9005647'], ['2018', '22', 'TRINITY COLLEGE', '86.5', '187', '141', '75.4', 'NON-GOVERNMENT', 'Y04', 'Y12', '177.0', '1,267', 'NORTH METROPOLITAN', '-31.96013472', '115.8825766'], ['2017', '22', 'TRINITY COLLEGE', '86.65', '182', '131', '71.98', 'NON-GOVERNMENT', 'Y04', 'Y12', '177.0', '1,267', 'NORTH METROPOLITAN', '-31.96013472', '115.8825766'], ['2016', '22', 'LAKE JOONDALUP BAPTIST COLLEGE', '85.4', '140', '100', '71.43', 'NON-GOVERNMENT', 'KIN', 'Y12', '126.0', '1,423', 'NORTH METROPOLITAN', '-31.73747504', '115.7614206'], ['2020', '23', 'AQUINAS COLLEGE', '85.85', '174', '108', '62.07', 'NON-GOVERNMENT', 'KIN', 'Y12', '172.0', '1,308', 'SOUTH METROPOLITAN', '-32.02617519', '115.8617538'], ['2019', '23', 'APPLECROSS SENIOR HIGH SCHOOL', '85.2', '227', '158', '69.6', 'SECONDARY SCHOOLS', 'Y07', 'Y12', '286.0', '1,731', 'SOUTH METROPOLITAN', '-32.029376', '115.83509'], ['2018', '23', 'JOHN WOLLASTON ANGLICAN COMMUNITY SCHOOL', '85.65', '59', '32', '54.24', 'NON-GOVERNMENT', 'KIN', 'Y12', '63.0', '990', 'SOUTH METROPOLITAN', '-32.104726', '116.007834'], ['2017', '23', 'CHURCHLANDS SENIOR HIGH SCHOOL', '86.6', '336', '226', '67.26', 'SECONDARY SCHOOLS', 'Y07', 'Y12', '448.0', '2,758', 'NORTH METROPOLITAN', '-31.91728978', '115.7899902'], ['2016', '23', 'MERCEDES COLLEGE', '85.35', '153', '129', '84.31', 'NON-GOVERNMENT', 'Y07', 'Y12', '121.0', '836', 'NORTH METROPOLITAN', '-31.95623304', '115.8670832'], ['2020', '24', 'SCOTCH COLLEGE', '85.35', '175', '130', '74.29', 'NON-GOVERNMENT', 'KIN', 'Y12', '203.0', '1,393

# LOAD

In [69]:
rds_connection_string = f"{username}:{password}@localhost:5432/schools_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [70]:
# check for tables - NOTE this is created in pgadmin before hand
engine.table_names()

<ipython-input-70-2caba68b8947>:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

[]

In [ ]:
# note - delete all tables in pg admin schools_db before running the next step

In [80]:
# NOTE - DON'T RUN MORE THAN ONCE BECUASE IT APPENDS

# Dataset 1
new_WASchools_df2.to_sql(name='wa_schools_y12', con=engine, if_exists='append', index=False)

# Dataset 2
classification_df.to_sql(name='wa_schools_classification', con=engine, if_exists='append', index=False)

# Dataset 3
applecross_df2.to_sql(name='applecross_secondary_schools', con=engine, if_exists='append', index=False)

# Dataset 4
secondary_schools_df2.to_sql(name='secondary_schools_ranking', con=engine, if_exists='append', index=False)

In [81]:
# confirm Dataset 1 has been added
pd.read_sql_query('select * from wa_schools_y12', con=engine).head()

,School_ID,School_Name,Y12,Classification_ID
0,0,AL-AMEEN COLLEGE,45.0,0
1,1,ALBANY SECONDARY EDUCATION SUPPORT CENTRE,17.0,1
2,2,ALBANY SENIOR HIGH SCHOOL,130.0,2
3,3,ALKIMOS BAPTIST COLLEGE,12.0,0
4,4,ALL SAINTS' COLLEGE,144.0,0

In [82]:
# confirm Dataset 2 has been added
pd.read_sql_query('select * from wa_schools_classification', con=engine).head()

   Classification_ID   Classification_Group
0                  0         NON-GOVERNMENT
1                  1      EDUCATION SUPPORT
2                  2      SECONDARY SCHOOLS
3                  3           K-12 SCHOOLS
4                  4  DISTRICT HIGH SCHOOLS

In [83]:
# confirm Dataset 3 has been added
pd.read_sql_query('select * from applecross_secondary_schools', con=engine).head()

   School_ID
0          6
1          7
2        244
3         63
4        188

In [84]:
# confirm Dataset 4 has been added
pd.read_sql_query('select * from secondary_schools_ranking', con=engine).head()

   School_ID  2020_ATAR_Secondary_School_Ranking  Median_ATAR
0        224                                   1        97.55
1        266                                   2        92.70
2         52                                   3        92.50
3        221                                   4        90.65
4        192                                   5        90.55